# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- Popular Data Science langbuages
- Common Libraries and tools in Data Science
- Basic arithmatics with Python 
- Working with Jupyter notebook

Some of the popular languages that Data Scientists use are:

1) Python
2) R
3) Java

Some of the commonly used libraries used by Data Scientists include:

1) NumPy
2) Pandas
3) SciPy

|Data Science Tools|
---
|RStudio|
|Apachi Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
x = 2
y = 3
print(x+y)
print(x-y)
print(x*y)
print(x/y)

5
-1
6
0.6666666666666666

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author:
Zahra